/* ==============================General Selector===================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-width: 0px;
  text-decoration: none;
}
body {
  min-height: 100vh;
}
/* ==============================Root Selector Start============================ */
#root {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding-top: 0;
}
/* ==============================Root Selector End============================ */
/* ==============================Header Selector Start============================== */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 44px;

  padding: 60px 80px 60px 100px;
  background-color: #fefefe;
}
.header-title-text {
  font-size: 42px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 100%;

  color: #6892ec;
}
.header-nav-container {
  display: flex;
  gap: 20px;
}
.header-nav-item {
  display: flex;
}
.header-nav-link {
  text-decoration: none;
  border-bottom: solid transparent;
}
.header-nav-link:hover {
  border-bottom: solid #6892ec;
}
.header-nav-link-text {
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 100%;

  color: #aab3bf;
}
.header-nav-link-text-bold {
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 100%;

  color: #a7b0bd;
}
/* ==============================Header Selector End============================== */
/* ==============================Role Selector Start============================== */
#role {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: linear-gradient(
    135deg,
    #e2e8f0 10%,
    #e5eaf1 30%,
    #e7ecf2 60%,
    #ebeff5 80%,
    #ebeff5 100%
  );
}
.role-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  width: 50%;
  padding: 60px 80px 60px 100px;
}

.role-item-header-text {
  color: #414b5c;
  font-weight: 700;
  font-size: 56px;
}
.role-item-info-text {
  width: 80%;
  color: #a4acba;
  font-size: 28px;
}
.role-item-info-footer {
  display: flex;
}
.role-item-footer-button {
  color: #99b5f1;

  border-radius: 10px;
  padding: 20px 40px;
  background-color: #1154ef;
  transition: opacity 0.3s ease;
}
.role-item-footer-button:hover {
  opacity: 0.8;
}
.photo-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
}
.photo-container-image {
  border-radius: 250px;

  width: 250px;
  object-fit: cover;
}
/* ==============================Role Selector End============================== */
/* ==============================About Selector start============================== */
#about {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  padding: 60px 80px 60px 100px;
  background-color: #fefefe;
}
.about-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 70%;
}
.about-header-text {
  color: #3d4758;
  font-weight: 700;
  font-size: 50px;
}
.about-main-text {
  width: 80%;
  color: #b0b7c3;
  font-size: 28px;
}
.skills-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
}
.skills-header {
  font-size: 32px;
  font-weight: 700;
  color: #687180;
}
.single-skill-container {
  display: flex;
  justify-content: space-between;
}
.progress-bar-container {
  height: 10px;
  width: 100px;
  background: linear-gradient(
    135deg,
    #f0f4f8 0%,
    #e8edf3 30%,
    #dce4ed 60%,
    #e4eaf2 80%,
    #edf1f7 100%
  );
  border-radius: 20px;
}
.progress-bar-content {
  background-color: #6892ec;
  border-radius: 20px;
  height: 100%;
}
#html-progress {
  width: 90%;
}
#css-progress {
  width: 70%;
}
#java-progress {
  width: 80%;
}
#javascript-progress {
  width: 70%;
}
#react-progress {
  width: 70%;
}
#git-progress {
  width: 60%;
}
#mysql-progress {
  width: 50%;
}
#maven-progress {
  width: 30%;
}
#svn-progress {
  width: 30%;
}
#ai-prompting-progress {
  width: 70%;
}
/* ==============================About Selector End============================== */
/* ==============================Project Selector Start============================== */
#projects {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 60px 80px 60px 100px;
  gap: 60px;
  background: linear-gradient(
    135deg,
    #e2e8f0 10%,
    #e5eaf1 30%,
    #e7ecf2 60%,
    #ebeff5 80%,
    #ebeff5 100%
  );
}
.project-cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: 40px;
}
.projects-header-text {
  width: 100%;
  text-align: center;
  color: #414b5c;
  font-weight: 700;
  font-size: 50px;
}
.project-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  flex: 1;
  background-color: white;
  height: 600px;
}
.project-card-header {
  height: 60%;
  border-radius: 10px 10px 0px 0px;
}
.project-card-header-image {
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
}
.project-card-info-container {
  display: flex;
  flex-direction: column;
  height: 40%;
  padding: 30px;
  gap: 20px;
}
.project-card-info-title-text {
  font-weight: 700;
  color: #737c8a;
  font-size: 24px;
}
.project-card-info-text {
  color: #b2b9c5;
  font-size: 18px;
}
.project-card-info-footer {
  width: max-content;
  margin-top: auto;
}
.button-view-product {
  background-color: #faa731;
  padding: 10px;
  color: #eecf9c;
  border-radius: 4.5px;
}
.button-view-product:hover {
  opacity: 0.8;
}
/* ==============================Project Selector End============================== */
/* ==============================Contact Selector Start============================== */
#contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 60px 80px 60px 100px;
  background-color: #fefefe;
}
.contact-header {
  display: flex;
  justify-content: center;
  width: 100%;
}
.contact-header-text {
  color: #3d4758;
  font-weight: 700;
  font-size: 50px;
}
.contact-main-container {
  display: flex;
  flex-wrap: wrap;
}
.contact-form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}
.single-input-container {
  display: flex;
  flex-direction: column;
  width: 95%;
}
input,
textarea {
  border: 2px solid #e8edf2;
  outline: none;
  resize: none;
  height: 40px;
  border-radius: 4.5px;
  transition: border-color 0.3s ease;
}
#message {
  height: 80px;
}
.contact-form-footer {
  display: flex;
  width: max-content;
}
.contact-form-footer-button {
  border-radius: 4.5px;
  padding: 10px 40px;
  background-color: #1154ef;
  transition: opacity 0.3s ease;

  color: #a7bff1;
  font-size: 18px;
}
.contact-form-footer-button:hover {
  opacity: 0.8;
}
label {
  font-size: 18px;
  color: #7e8796;
}
#email-label {
  font-weight: 700;
  color: #878f9d;
}
input:hover,
textarea:hover {
  border-color: #1154ef;
}
.contact-information-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 20px;
}

.contact-information-header {
  width: 100%;
}
.contact-information-header-text {
  font-weight: 700;
  color: #666f7e;
  font-size: 32px;
}
.contact-information-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-information-main-text {
  color: #b1b9c5;
  font-size: 18px;
}
.contact-information-footer {
  display: flex;
}

.contact-information-footer {
  display: flex;
  flex-wrap: wrap;
  height: 64px;
  gap: 20px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 99px;
  transition: transform 0.3s ease-in-out;
}
#social-link-linkedin {
  background-color: #1154ef;
}

.social-link:hover {
  transform: scale(1.2);
}
/* ==============================Contact Selector End============================== */
/* ==============================Footer Selector Start============================== */
#footer {
  display: flex;
  justify-content: center;

  background-color: #1e293b;
  width: 100%;
  height: 44px;

  width: 100%;
  height: 44px;

  padding: 60px 80px 60px 100px;
}
.footer-text {
  font-size: 24px;
  color: #878f9d;
}
/* ==============================Footer Selector End============================== */
@media (max-width: 640px) {
  /* ==============================Header Selector Start============================== */
  #header {
    padding: 15px 20px 15px 25px;
    background-color: #fefefe;
  }
  .header-title-text {
    font-size: 18px;
  }
  /* ==============================Header Selector End============================== */
  /* ==============================Role Selector Start============================== */
  .role-container {
    width: 100%;
    padding: 15px 20px 15px 25px;
  }
  .role-item-header-text {
    font-size: 26px;
    text-align: center;
  }
  .role-item-info-text {
    width: 100%;
    color: #a4acba;
    font-size: 14px;
    text-align: center;
  }
  .role-item-info-footer {
    justify-content: center;
  }
  .photo-container {
    width: 100%;
  }
  /* ==============================Role Selector End============================== */
  /* ==============================About Selector Start============================== */
  #about {
    gap: 40px;
  }
  .about-container {
    width: 100%;
  }
  .skills-container {
    width: 100%;
  }
  .skills-header {
    text-align: center;
  }
  /* ==============================About Selector End============================== */
  /* ==============================Projects Selector Start============================== */
  #projects {
  }
  .project-cards-container {
  }
  .project-card {
    flex: 0;
    width: 100%;
  }
  /* ==============================Projects Selector End============================== */
  /* ==============================Contact Selector Start============================== */
  #contact {
    padding: 15px 20px 15px 25px;
  }
  .contact-form-container {
    width: 100%;
  }
  .contact-form-footer {
    width: 95%;
  }
  .contact-information-container {
    width: 100%;
  }
  .contact-information-header {
    text-align: center;
  }
  .contact-information-header-text {
    font-size: 20px;
  }
  .contact-information-main {
    justify-content: center;
  }
  .contact-information-main-text {
    text-align: center;
  }
  .contact-information-footer {
    justify-content: center;
  }

  /* ==============================Contact Selector End============================== */
  /* ==============================Footer Selector Start============================== */
  #footer {
    padding: 15px 20px 15px 25px;
  }
  .footer-text {
    font-size: 12px;
  }
  /* ==============================Footer Selector End============================== */
}
